In [1]:
import scipy.io as sio

In [2]:
matdata=sio.loadmat('./IMDB/imdb.mat')
items = matdata['imdb'][0][0]

In [3]:
dob = items[0][0]
photo_taken = items[1][0]
full_path = items[2][0]
gender = items[3][0]
name = items[4][0]
face_location = items[5][0]
face_score = items[6][0]
second_face_score = items[7][0]
celeb_names = items[8][0]
celeb_id = items[9][0]

In [4]:
import pandas as pd
from datetime import datetime, timedelta

In [5]:
def flatten(a):
    return [x[0] for x in a]

def dateConvert(matlab_datenum):
    if matlab_datenum > 366:
        return datetime.fromordinal(int(matlab_datenum)) + timedelta(days=matlab_datenum%1) - timedelta(days = 366)
    else:
        return np.nan

In [6]:
df = pd.DataFrame({'path': flatten(full_path),
                   'id': celeb_id,
                   'name': flatten(name), 
                   'dob': dob,
                   'gender': gender,
                   'score1': face_score,
                   'score2': second_face_score,
                   'pic_date': photo_taken,
                   'region': flatten(face_location),
                   
                   })

In [7]:
df.dob = df.dob.astype(int).apply(dateConvert)
df.pic_date = pd.to_datetime(df.pic_date, format='%Y')

In [21]:
df['age'] = (df.pic_date - df.dob)/np.timedelta64(1,'Y')

In [22]:
df.dtypes

path                object
id                  uint16
name                object
dob         datetime64[ns]
gender             float64
score1             float64
score2             float64
pic_date    datetime64[ns]
region              object
age                float64
dtype: object

In [23]:
import pickle

In [24]:
pickle_out = open('labels.pickle', 'wb')
pickle.dump(df, pickle_out)
pickle_out.close()

In [25]:
pickle_in = open('labels.pickle', 'rb')
df = pickle.load(pickle_in)

In [26]:
df

,path,id,name,dob,gender,score1,score2,pic_date,region,age
0,01/nm0000001_rm124825600_1899-5-10_1968.jpg,6488,Fred Astaire,1899-05-10,1.0,1.459693,1.118973,1968-01-01,"[1072.926, 161.838, 1214.7839999999999, 303.69...",68.644804
1,01/nm0000001_rm3343756032_1899-5-10_1970.jpg,6488,Fred Astaire,1899-05-10,1.0,2.543198,1.852008,1970-01-01,"[477.184, 100.352, 622.592, 245.76]",70.646215
2,01/nm0000001_rm577153792_1899-5-10_1968.jpg,6488,Fred Astaire,1899-05-10,1.0,3.455579,2.985660,1968-01-01,"[114.96964308962852, 114.96964308962852, 451.6...",68.644804
3,01/nm0000001_rm946909184_1899-5-10_1968.jpg,6488,Fred Astaire,1899-05-10,1.0,1.872117,NaN,1968-01-01,"[622.8855056426588, 424.21750383700805, 844.33...",68.644804
4,01/nm0000001_rm980463616_1899-5-10_1968.jpg,6488,Fred Astaire,1899-05-10,1.0,1.158766,NaN,1968-01-01,"[1013.8590023603723, 233.8820422075853, 1201.5...",68.644804
5,02/nm0000002_rm1075631616_1924-9-16_1991.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.490563,1.345335,1991-01-01,"[686.6768205940973, 458.4672137293982, 1198.10...",66.292942
6,02/nm0000002_rm1346607872_1924-9-16_2004.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.479189,NaN,2004-01-01,"[78.23569406558903, 52.335129377059346, 194.25...",79.292525
7,02/nm0000002_rm1363385088_1924-9-16_2004.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.870171,NaN,2004-01-01,"[64.30867103752385, 64.30867103752385, 207.267...",79.292525
8,02/nm0000002_rm1411175936_1924-9-16_1991.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.786499,3.629704,1991-01-01,"[212.7672369223355, 1055.6441846116777, 526.79...",66.292942
9,02/nm0000002_rm1447271168_1924-9-16_2004.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.472944,2.945133,2004-01-01,"[242.176, 49.664, 278.528, 86.016]",79.292525
10,02/nm0000002_rm1624085760_1924-9-16_2008.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.862811,1.525307,2008-01-01,"[108.03894850648923, 28.82624960697085, 158.42...",83.292607
11,02/nm0000002_rm1646056960_1924-9-16_1991.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.767166,3.463460,1991-01-01,"[72.28774564077851, 1055.6441846116777, 386.31...",66.292942
12,02/nm0000002_rm221957120_1924-9-16_1974.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.096431,NaN,1974-01-01,"[3173.144692593433, 401.0408365741791, 4059.15...",49.293278
13,02/nm0000002_rm2287049216_1924-9-16_2007.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.482030,NaN,2007-01-01,"[138.80620247948153, 33.92673852953003, 181.15...",82.293271
14,02/nm0000002_rm238734336_1924-9-16_1974.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.865421,NaN,1974-01-01,"[2135.2177839424635, 765.8537799794512, 3499.4...",49.293278
15,02/nm0000002_rm2585828096_1924-9-16_2006.jpg,11516,Lauren Bacall,1924-09-16,0.0,5.414545,NaN,2006-01-01,"[70.08922573752601, 87.46603217190751, 225.898...",81.293935
16,02/nm0000002_rm2602605312_1924-9-16_2006.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.349961,3.205523,2006-01-01,"[52.186, 121.05, 129.12, 197.984]",81.293935
17,02/nm0000002_rm2619382528_1924-9-16_2006.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.361549,1.494865,2006-01-01,"[213.212, 58.588, 299.584, 144.96]",81.293935
18,02/nm0000002_rm2769394176_1924-9-16_2006.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.360469,NaN,2006-01-01,"[109.42467458662298, 82.24100593996724, 231.06...",81.293935
19,02/nm0000002_rm2780403712_1924-9-16_2004.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.559209,NaN,2004-01-01,"[117.05057012254504, 74.12636007739687, 171.69...",79.292525
20,02/nm0000002_rm2805435904_1924-9-16_1988.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.410720,1.196696,1988-01-01,"[548.3850049655398, 200.71600180565082, 769.83...",63.292196
21,02/nm0000002_rm2813958144_1924-9-16_2004.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.344887,3.783331,2004-01-01,"[294.4901382670561, 52.418494988304026, 345.81...",79.292525
22,02/nm0000002_rm289065984_1924-9-16_1974.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.635294,3.911928,1974-01-01,"[991.4993955250143, 744.8765466437608, 1430.41...",49.293278
23,02/nm0000002_rm2983566080_1924-9-16_2007.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.126855,NaN,2007-01-01,"[85.53605744346052, 47.748476357478076, 170.04...",82.293271
24,02/nm0000002_rm305843200_1924-9-16_1974.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.521520,3.694407,1974-01-01,"[1020.1211415174598, 743.2756483763344, 1430.3...",49.293278
25,02/nm0000002_rm3224279040_1924-9-16_2005.jpg,11516,Lauren Bacall,1924-09-16,0.0,1.666039,0.899461,2005-01-01,"[317.3146448016989, 88.26268898770394, 377.262...",80.294599
26,02/nm0000002_rm3453524224_1924-9-16_2007.jpg,11516,Lauren Bacall,1924-09-16,0.0,2.778305,NaN,2007-01-01,"[197.02999999999997, 72.99799999999999, 289.40...",82.293271
27,02/nm0000002_rm3487078656_1924-9-16_2007.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.739849,3.190146,2007-01-01,"[274.80881255040066, 63.31178572580587, 344.66...",82.293271
28,02/nm0000002_rm350394368_1924-9-16_2005.jpg,11516,Lauren Bacall,1924-09-16,0.0,3.461837,2.912147,2005-01-01,"[163.6218413918126, 88.37822228789909, 219.460...",80.294599
29,02/nm0000002_rm3537671424_1924-9-16_2008.jpg,11516,Lauren Bacall,1924-09-16,0.0,4.220183,3.544502,2008-01-01,"[80.61559618487055, 58.782251770814945, 145.55...",83.292607
...,...,...,...,...,...,...,...,...,...,...
460693,08/nm3994408_rm350134272_1989-12-29_2013.jpg,8410,Jane Levy,1989-12-29,0.0,-inf,NaN,2013-01-01,"[1, 1, 1079, 2048]",23.009370
460694,08/nm3994408_rm3532828160_1989-12-29_2012.jpg,8410,Jane Levy,1989-12-29,0.0,4.799523,NaN,2012-01-01,"[564.1372578626806, 304.71144654144337, 951.22...",22.007297
460695,08/nm3994408_rm357150464_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,-inf,NaN,2011-01-01,"[1, 1, 640, 426]",21.007960
460696,08/nm3994408_rm3650268672_1989-12-29_2012.jpg,8410,Jane Levy,1989-12-29,0.0,4.847264,3.954379,2012-01-01,"[1477.0826584563486, 195.2073005121409, 1633.0...",22.007297
460697,08/nm3994408_rm3713712128_1989-12-29_2014.jpg,8410,Jane Levy,1989-12-29,0.0,3.953947,NaN,2014-01-01,"[1508.8323820782705, 840.0002122657057, 2257.3...",24.008707
460698,08/nm3994408_rm3845632_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.318393,1.306772,2011-01-01,"[301.70117265591955, 194.26718242166254, 397.5...",21.007960
460699,08/nm3994408_rm3926507520_1989-12-29_2014.jpg,8410,Jane Levy,1989-12-29,0.0,1.545827,NaN,2014-01-01,"[472.8605042884207, 199.69200180565082, 583.58...",24.008707
460700,08/nm3994408_rm4062552064_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,4.072954,1.703651,2011-01-01,"[599.9387875477332, 112.43047210190386, 724.29...",21.007960
460701,08/nm3994408_rm4163215360_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.540905,1.755798,2011-01-01,"[182.07451716559376, 140.28809012737983, 306.4...",21.007960
460702,08/nm3994408_rm4179992576_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,5.388248,NaN,2011-01-01,"[150.28527864588918, 150.28527864588918, 417.9...",21.007960
460703,08/nm3994408_rm474590976_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,-inf,NaN,2011-01-01,"[1, 1, 426, 640]",21.007960
460704,08/nm3994408_rm524922624_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.659479,NaN,2011-01-01,"[358.8071881117213, 37.37803960323687, 423.702...",21.007960
460705,08/nm3994408_rm540716544_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.663068,NaN,2011-01-01,"[249.22906930201069, 88.51449504776848, 379.87...",21.007960
460706,08/nm3994408_rm5419776_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,4.155966,2.938589,2011-01-01,"[401.0896764888733, 65.7889205117092, 497.5430...",21.007960
460707,08/nm3994408_rm543141888_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.222078,0.776222,2011-01-01,"[321.22999999999996, 146.51, 451.3599999999999...",21.007960
460708,08/nm3994408_rm559919104_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.920835,0.731100,2011-01-01,"[378.59016863277793, 144.75225471724875, 458.6...",21.007960
460709,08/nm3994408_rm56609536_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.951297,2.299015,2011-01-01,"[645.8813844421313, 125.45079348883235, 746.70...",21.007960
460710,08/nm3994408_rm591048192_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.666526,NaN,2011-01-01,"[471.15599999999995, 171.25199999999998, 531.6...",21.007960
460711,08/nm3994408_rm605006080_1989-12-29_2012.jpg,8410,Jane Levy,1989-12-29,0.0,4.367861,4.008543,2012-01-01,"[788.48, 231.424, 1081.344, 524.288]",22.007297
460712,08/nm3994408_rm663989760_1989-12-29_2012.jpg,8410,Jane Levy,1989-12-29,0.0,3.594701,2.786236,2012-01-01,"[1094.7220099310796, 151.04900135423813, 1316....",22.007297
460713,08/nm3994408_rm674934272_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,4.146892,1.314723,2011-01-01,"[341.652, 55.379999999999995, 402.144, 115.872]",21.007960
460714,08/nm3994408_rm727691264_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,1.749585,NaN,2011-01-01,"[212.9161521049703, 135.80191497589018, 298.81...",21.007960
460715,08/nm3994408_rm73386752_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,4.801987,NaN,2011-01-01,"[161, 161, 448, 448]",21.007960
460716,08/nm3994408_rm744468480_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.370091,NaN,2011-01-01,"[300.756, 96.276, 422.592, 218.112]",21.007960
460717,08/nm3994408_rm758820352_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,-inf,NaN,2011-01-01,"[1, 1, 640, 426]",21.007960
460718,08/nm3994408_rm761245696_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,3.845884,NaN,2011-01-01,"[453.8981431333457, 77.96623712908011, 539.799...",21.007960
460719,08/nm3994408_rm784182528_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,-inf,NaN,2011-01-01,"[1, 1, 426, 640]",21.007960
460720,08/nm3994408_rm926592512_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,-inf,NaN,2011-01-01,"[1, 1, 453, 640]",21.007960
460721,08/nm3994408_rm943369728_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,4.450725,NaN,2011-01-01,"[144.75225471724875, 126.76472287759263, 305.7...",21.007960
460722,08/nm3994408_rm976924160_1989-12-29_2011.jpg,8410,Jane Levy,1989-12-29,0.0,2.133503,NaN,2011-01-01,"[457.524, 41.748, 518.016, 102.24]",21.007960